@model BookedViewModel
@{
    ViewBag.Title = "Онлайн заявки";
}
@await Html.PartialAsync("PartialsMaterial/_Menu", "Онлайн заявки")

<section class="section section-sm bg-gray-100" style="padding: 0px;">
    <div class="container">
        <div class="table-custom-responsive">

            <div class="rd-navbar-search toggle-original-elements active" style="width: 100%;">
                <button class="rd-navbar-search-toggle rd-navbar-fixed-element-2 toggle-original active" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                <form class="rd-search" asp-action="Index" asp-controller="Book" data-search-live="rd-search-results-live" method="GET" style="width: 100%;">
                    <div class="form-wrap">
                        <label class="form-label rd-input-label" for="for-product">Поиск по номеру телефона:</label>
                        <input class="rd-navbar-search-form-input form-input" id="for-product" type="text" name="phoneNumber" autocomplete="off">
                    </div>
                    <button class="rd-search-form-submit fa-search" type="submit"></button>
                </form>
            </div>

            <table class="table-custom table-custom-secondary" id="myTable">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)" style="color: red; cursor: pointer;">Имя заказчика</th>
                        <th onclick="sortTable(1)" style="color: red; cursor: pointer;">Номер телефона</th>
                        <th onclick="sortTable(2)" style="color: red; cursor: pointer;">Запись на дату</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AllBookeds)
                    {
                        <tr>
                            <td>@item.ClientName</td>
                            <td>@item.ClientPhone</td>
                            <td>@item.CreatedDate.ToShortDateString()</td>
                            <td><div class="button button-primary button-circle" onclick="location.href='/account/Book/Delete/@item.Id';">Удалить</div></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>Общая ведомость</td>
                        <td></td>
                        <td></td>
                        <td>Количество заявок: @Model.Count</td>
                    </tr>
                </tfoot>
            </table>
        </div>

         @if (Model.PageViewModel.HasPreviousPage)
        {
            <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
        @if (Model.PageViewModel.HasNextPage)
        {
            <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
                Вперед
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }

    </div>
</section>

<script src="~/js/sortscript.js"></script>